* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: rgb(var(--background-color));
}

h1,
h2,
h3,
p,
a,
li,
div {
    color: rgb(var(--text-color));
    font-family: var(--font-family);
    font-weight: 400;
    text-decoration: none;
}
