@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --font-family: 'Roboto', monospace;

    --font-size-title: 48px;
    --font-size-subtitle: 24px;
    --font-size-text: 16px;
    --font-size-annotations: 12px;

    --line-height: 1.75;

    --background-color: 0, 0, 0;
    --primary-color: 252, 163, 17;
    --secondary-color: 20, 33, 61;
    --text-color: 229, 229, 229;

    --border-radius: 15px;
    --border-size: 3px;

    --max-width: 1200px;

    --underline-height: 3px;
}